@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');


$silverChalice: #AEB4A9;
$unBleach: #FFD9CE;
$Isabell: #F6F7EB;
$powderBlu: #AEE5D8;
$antiWhite: #F1E3F3;

$montFont: 'Montserrat', sans-serif;

body{
    font-family: $montFont;
}